.mapList {
    height: 473px;
    width: 500px;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(230, 230, 230);
    margin-bottom: 30px;
    overflow-y: auto;
    background-color: rgb(240,240,240);
    padding: 10px;
}
.mapList::-webkit-scrollbar {
    width: 5px;
}
.mapList:hover::-webkit-scrollbar-thumb {
    background-color: rgb(91, 209, 91);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.mapList::-webkit-scrollbar-thumb:active {
    background-color: rgb(74, 187, 74);
}



.mapPage {
    height: 400px;
    width: 900px;
    background-image: url('../images/SampleMap.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% 130%;
    background-position: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(180, 180, 180);
}



.searchBar2 {
    height: 40px;
    width: 100%;
    padding: 0px;
    padding-left: 12px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-right-width: 0px;
    border-color: rgb(0, 123, 0);
    background-color: rgb(255, 255, 255);
    outline-style: none;
    color: rgb(13, 86, 1);
    transition: 0.5s;
}



.collectionB button {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 110, 0);
    display: flex;
    padding: 15px;
    padding-top: 10px;
    font-family: Inter;
}
.collectionB button:hover {
    background-color: rgb(233, 250, 206);
}