.userManageB {
    display: flex;
    overflow: hidden;
    margin-bottom: 6px;
}
.userManageB button {
    font-family: Inter;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border: none;
    padding: 0;
    background-color: white;
    z-index: 10;
    align-items: center;
}
.userManageB button:hover {
    background-color: rgb(222, 241, 191);
    transition: 0.2s;
}
button.editB {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: transparent;
    color: rgb(180, 180, 180);
}
.editB:hover {
    color: rgb(0,123,0);
}
.editB:active {
    color: rgb(45, 180, 45);
    transition: 0.1s;
}

.checkInput[type="checkbox"]:before {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #666666;
    border-radius: 3px;
    content: "";
    background: transparent;
}
.checkInput[type="checkbox"]:after {
    position: absolute;
    display: block;
    transform: translateY(-105%) translateX(6%);
    width: 16px;
    height: 16px;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.checkInput[type="checkbox"]:checked:after {
    background-color: rgb(0,123,0);
}
.checkmark {
    position: absolute;
    transform: translateY(38%) translateX(-140%);
    pointer-events: none;
    color: white;
}
.checkmark2 {
    position: absolute;
    transform: translateY(0%) translateX(0%);
    pointer-events: none;
    color: white;
}

.userList {
    height: 400px;
    width: 900px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(0, 123, 0);
    margin-bottom: 30px;
    overflow-y: auto;
}
.userList::-webkit-scrollbar {
    width: 5px;
}
.userList:hover::-webkit-scrollbar-thumb {
    background-color: rgb(91, 209, 91);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.userList::-webkit-scrollbar-thumb:active {
    background-color: rgb(74, 187, 74);
}

.userListB {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.userListB button {
    font-family: Inter;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border: none;
    padding: 0;
    background-color: transparent;
    z-index: 10;
    align-items: center;
}
.userListB button:hover {
    background-color: rgb(222, 241, 191);
    transition: 0.2s;
}
  
.pendingBtn {
    position: absolute;
    top: 130px;
    margin-left: 855px;
    background-color: green;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
  
.pendingBtn:hover {
    background-color: darkgreen;
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.05);
}

.add-truck-btn{
    position: absolute;
    top: 130px;
    margin-left: 1000px;
    background-color: #F2BE2D;
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
  
.add-truck-btn:hover {
    background-color: #FDBA00;
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.05);
}

.collector-btn {
    position: absolute;
    top: 140px;
    left: 330px;
    background-color: #ffffff;
    color: #51AF5B;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Remove default underline */
}

.collector-btn:hover {
    text-decoration: none; /* Remove default underline on hover */
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.05);
}
  
.collector-btn.clicked {
    color: #005809;
    text-decoration: underline; /* Add underline when clicked */
}

.truck-btn {
    position: absolute;
    top: 140px;
    left: 450px;
    background-color: #ffffff;
    color: #51AF5B;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Remove default underline */
}

.truck-btn:hover {
    text-decoration: none; /* Remove default underline on hover */
    transition: background-color 0.3s ease-in-out;
    transform: scale(1.05);
}
  
.truck-btn.clicked {
    color: #005809;
    text-decoration: underline; /* Add underline when clicked */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.749); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
  }
  
  .modal-content button {
    padding: 10px;
    background-color: #4caf50; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #accountTypeSelect {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  #accountTypeSelect:focus {
    border-color: #4caf50; 
  }
  
  #accountTypeSelect option {
    background-color: #fff;
    color: #333;
  }